@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap');

* {
    font-family: 'Taipei Sans TC Beta', 'Noto Sans TC', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.App {
    width: 1920px;
    height: 1080px;
}

.content {
    margin: 65px auto 69px auto;
}