.header {
    background: #D7E8F6;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps {
    display: flex;
    width: calc(100% - 596px * 2);
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
}

.step {
    color: #999999;
    display: flex;
    align-items: center;
}

.step img {
    display: inline-block;
    width: 45px;
    height: 45px;
}

.step.active {
    color: #5CADE1;
}

.step__index {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px dashed #999999;
    background: #FFFFFF;
    text-align: center;
    line-height: 41px;
}

.step.active .step__index {
    border: 2px solid #5CADE1;
    background: #5CADE1;
    color: #FBFCFE;
}

.step__name {
    display: inline-block;
    margin-left: 11px;
}